@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

body{
    font-size: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('lobinho.png');
    background-position: center;
    background-size: cover;

    

}
.topo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    border-bottom: solid antiquewhite 0.3px;
}

.topo-img{
    height: 72px;

}
.menu{
    display: flex;
    gap: 32px;
}
 .item-menu{
    font-family: 'Sarala', sans-serif;
    color:antiquewhite;
    font-weight: 400;
    font-size: 18px;
 }
 .conteudo{
     margin-bottom: 48px;
    
 }

 .conteudo-cima{
     display: flex;
     flex-direction: row ;
     align-items: center;
     justify-content: center;


 }
 .escrito-princ{
     display: inline-table;
     flex-direction: ;
     gap: 32px;
     margin-top: ;
 }

 .escrito-princ-titulo{
    font-family: 'Righteous', cursive;
    color:antiquewhite;
    font-weight: 400;
    font-size: 64px;
    
 }

 .escrito-princ-subtitulo{
    font-family: font-family: 'Sarala', sans-serif;
    color: #ECD6C4;
    font-weight: 400;
    font-size: 24px;
   margin-left: 49px ;

 }

 .botao-conheça{
     background-color: #ECD6C4;
     width: 180px;
     height: 60px;
     border: none;
     box-shadow: 4px 5px 4px black ;
     border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: black;
   margin-top: 30px;

 }
 .botao-conheça:hover{
    background-color: rgba(236, 214, 196, 0.53);

 }

 .princ-imagem{
     height: 430px;
     margin-top: 120px;
 }


.conteudo-baixo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;


}
.conteudo-baixo-titulo{
    border-top: 0.4px solid antiquewhite ;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    color:antiquewhite;
    font-weight: 400;
    font-size: 24px;
}
.conteudo-baixo-paragrafo{
    font-family: font-family: 'Sarala', sans-serif;
    color: #ECD6C4;
    font-weight: 400;
    font-size: 16px;
    
}

.footer{
    padding: 32px ;
    border-top: 0.4px solid antiquewhite;
    
   
}
.footer-img{
   height: 48px;
   display: block;
   margin: 0 auto;

}
.mumu{
    display: flex;
    flex-direction: column;
    gap: 24px;

    font-family: 'Righteous', cursive;
    color:antiquewhite;
    font-weight: 400;
    font-size: 24px;
    margin-left: 50px;
    
}

.botao-musica{
    display: flex;
    justify-content: space-around ;
    background-color: #ECD6C4;
     width: 180px;
     height: 30px;
     border: none;
     box-shadow: 4px 5px 4px black ;
     border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: black;
   
}
.botao-musica:hover{
    background-color: rgba(236, 214, 196, 0.53);

 }



 #app {
    display: grid;
    grid-template-columns: repeat(auto-fill, 900px);
    padding: 24px;
    gap: 24px;
  }
  
  .note {
    height: 200px;
    box-sizing: border-box;
    padding: 16px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
    resize: none;
    font-family: sans-serif;
    font-size: 16px;
  }
  
  .add-note {
    height: 200px;
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-size: 120px;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: background 0.2s;
  }
  
  .add-note:hover {
    background: rgba(0, 0, 0, 0.2);
  }